.box {
    width: 100px;
    height: 100px;
    border: 2px solid red;
    background-color: bisque;
    /* transition: width 4s linear 1s, background-color 5s ease-in 2s; */
    /* transition: transform 5s 2s; */
    transition: transform 3s;
}

.box:hover {
    transform: rotate(45deg) scale(1.5) translateX(150px);
    /* width: 200px; */
    /* background-color: rgb(214, 225, 5); */
}